/* subject name */
.subject-details h1 {
  margin: 0;
  max-width: 70vw;
  font-weight: bold;
  background: -webkit-linear-gradient(left, #71229F, #EA60FF);
  background: -o-linear-gradient(right, #71229F, #EA60FF);
  background: -moz-linear-gradient(right, #71229F, #EA60FF);
  background: linear-gradient(to right, #71229F, #EA60FF);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* slab details */
.slabs {
  color: #71229F;
  background: #fff;
}

.slabs:hover {
  text-decoration: none;
  color: #fff;
  background:linear-gradient(#71229F,#EA60FF);
}

/* back button */
.back-link {
  color: #71229F;
}
.back-link:hover {
  
  /* color: #71229F; */
  color: #fff;
  text-decoration: none;
}
.back-button:hover{
  background:linear-gradient(to right,#71229F,#EA60FF);
}

