/* subject name */
.subject-details-heading {
  margin: 0;
  font-weight: bold;
  background: -webkit-linear-gradient(left, #0c6bcc, #2cd4e4);
  background: -o-linear-gradient(right, #0c6bcc, #2cd4e4);
  background: -moz-linear-gradient(right, #0c6bcc, #2cd4e4);
  background: linear-gradient(to right, #0c6bcc, #2cd4e4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* slab details */
.slabs {
  color: #0c6bcc;
}
.slabs:hover {
  text-decoration: none;
  color: #fff;
  background: linear-gradient(#0c6bcc, #2cd4e4);
}

/* back button */
.back-link {
  color: #0c6bcc;
}
.back-link:hover {
  /* color: #0c6bcc; */
  color: #fff;
  text-decoration: none;
}
.back-button:hover {
  background: linear-gradient(to right, #0c6bcc, #2cd4e4);
}

/* learn section */
#learn-section {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.learn-heading {
  color: #0c6bcc;
}
.learn-card {
  width: 90%;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
  margin: 2rem 1rem 0 1rem;
  border-radius: 10px;
}
.learn-card-body {
  padding: 0.8rem;
  font-size: 1.1rem;
  line-height: 1.6rem;
}
.learn-point-number {
  font-weight: bold;
  /* color: #0c6bcc; */
  font-size: 1.2rem;
  margin: 0 0.5rem 0 0;
}
.highlighted-text-learn {
  font-weight: bold;
  color: #0c6bcc;
}

/* buttons */

#button-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* position: fixed; */
  /* bottom: 0; */
}

.btn {
  margin-bottom: 2.5rem;
  font-size: 1.3rem;
  color: #fff;
  border-radius: 500px;
  background: linear-gradient(to right, #2cd4e4, #0c6bcc);
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
  color: #fff;
}

.qoutes-name {
  text-align: right;
}
.qoutes-name div {
  margin-right: 1rem;
  font-weight: 600;
}
